# Terraform state files
*.tfstate
*.tfstate.*

# Provider plugins
.terraform/

# Terraform lock file
.terraform.lock.hcl

# Sensitive variable files
secret.tfvars
# *.tfvars # Uncomment if you want to ignore all variable files

# Crash logs
crash.log
